<div style="background: #1b4249;" class="d-flex vh-100">
  <div class=" m-auto p-3" style="width: 28%; background: linear-gradient(to bottom right, aqua, pink); border-radius: 10px;  box-shadow: 0 0 90px rgba(0, 0, 0, 1.5);">
    <h1 style="font-size: 35px; font-weight: 450; color: black; text-align: center;">Login</h1>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="ClientId">ClientId</label>
        <input type="number" class="form-control" id="ClientId" [(ngModel)]="clientId">
      </div>
      <div class="form-group">
        <label for="PhoneNumber">PhoneNumber</label>
        <input type="String" class="form-control" id="PhoneNumber" [(ngModel)]="PhoneNumber">
      </div> 
      <div class="d-flex">
      <button type="submit" class="btn btn-primary mt-3 mx-auto">Submit</button>
      </div>
    </form>
  </div>
</div>