<div style="background: #1b4249;" class="d-flex vh-100">
  <div class="m-auto p-4" style="width: 30%; background: linear-gradient(to bottom right, aqua, pink); border-radius: 10px;  box-shadow: 0 0 80px rgba(0, 0, 0, 1.5);">
    <h1 style="font-size: 35px; font-weight: 450; color: black; text-align: center;">Register</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="password">
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <input type="text" class="form-control" id="role" [(ngModel)]="role">
      </div>
      <div class="d-flex">
        <button type="submit" class="btn btn-primary mt-3 mx-auto">Submit</button>
        </div>
    </form>
  </div>